/* Add background image to the container and apply blur effect */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('../../public/LoginBG.jpg') no-repeat center center/cover;
  position: relative;
}


.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  filter: blur(8px);
  z-index: -1;
}

/* Ensure the form stays on top with semi-transparent background */
.formLogin {
  background: rgba(255, 255, 255, 0.55); /* Semi-transparent white background */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #646cff;
  padding: 25px;
  border-radius: 11px;
  min-width: 500px;
  z-index: 1;
}

.formLogin > h2 {
  margin-bottom: 28px;
  color: #000000;
  text-align: center;
  font-weight: bold;
}

.formLogin > div {
  margin-bottom: 15px;
}

.formLogin > div > div {
  position: relative;
}

.formLogin input[type="text"],
.formLogin input[type="email"],
.formLogin input[type="password"] {
  background: #fff;
  border-radius: 4px;
  outline: 0;
  border: 1px solid #000002;
  padding: 15px 32px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.3s ease-in-out;
}

.formLogin input[type="text"]:focus,
.formLogin input[type="email"]:focus,
.formLogin input[type="password"]:focus {
  border: 1px solid #646cff;
}

.unCompleted > input {
  border: 1px solid #ff0000 !important;
}

.completed > input {
  border: 1px solid #42ba96 !important;
  position: relative;
}

.unCompleted::after {
  content: "";
  background-image: url(../img/close.svg);
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.completed::after {
  content: "";
  background-image: url(../img/check.svg);
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.formLogin input[type="checkbox"] {
  position: relative;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  border: 1px solid #646cff;
  appearance: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.formLogin input[type="checkbox"]:checked {
  background-color: #040b8f;
  background-image: url("../img/tik.svg");
}

.formLogin input[type="checkbox"]:focus {
  outline: none;
  border: 2px solid #380404;
}

.formLogin > div > div img {
  position: absolute;
  max-width: 20px;
  max-height: 20px;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
}

.formLogin ::placeholder {
  color: #bfbbbb;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.formLogin > div span.error {
  height: 10px;
  text-align: left;
  margin-top: 5px;
  width: fit-content;
  font-size: 0.7rem;
  color: red;
  line-height: 1px;
  padding: 9px 3px;
  border-radius: 3px;
  background-color: rgba(255, 0, 0, 0.175);
  display: inline-block;
}

.formLogin button[type="submit"] {
  display: block;
  text-align: center;
  width: 100%;
  padding: 15px 25px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(to right, #dd4b4b, #646cff);
  color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.formLogin button[type="submit"]:hover {
  background: var(--main-color-hover) !important;
  color: #fff !important;
}

.Login-link {
  color: blue;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

.Login-link:hover {
  color: red; /* Change to your preferred hover color */
  text-decoration: underline; /* Optional: adds underline on hover */
}

.terms {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 19px 0;
  font: 14px Arial, Helvetica, sans-serif;
  font-weight: bold;
;
}

@media (max-width: 568px) {
  .formLogin {
    min-width: 300px;
    padding: 16px;
  }
  .formLogin input[type="text"],
  .formLogin input[type="email"],
  .formLogin input[type="password"] {
    padding: 10px 32px;
  }
}
